@page
@model Coin.Web.Areas.Accounting.Pages.AccountStatements.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>AccountStatement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AccountStatement.PeriodStart)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccountStatement.PeriodStart)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccountStatement.PeriodEnd)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccountStatement.PeriodEnd)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccountStatement.StartingBalance)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccountStatement.StartingBalance)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccountStatement.Account)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccountStatement.Account.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.AccountStatement.Id">Edit</a> |
    <a asp-page="./Delete" asp-route-id="@Model.AccountStatement.Id">Delete</a>
</div>
