@page
@model Coin.Web.Areas.Accounting.Pages.Accounts.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Account.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Account.Currency)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Account.Currency.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Account.Person)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Account.Person.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Account.TimePeriod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Account.TimePeriod.Name)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Account.Id" />
        <input type="submit" value="Delete" class="btn btn-default" />
    </form>
</div>
