@page
@model Coin.Web.Areas.Accounting.Pages.Accounts.DetailsModel

<div>
    <h4>Account</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Account.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Account.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Account.Currency)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Account.Currency.Code)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Account.Person)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Account.Person.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Account.TimePeriod)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Account.TimePeriod.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Account.Id">Edit</a> |
    <a asp-page="./Delete" asp-route-id="@Model.Account.Id">Delete</a> |
    <a asp-page="./Index">Back to List</a>
</div>
